body {
  margin: 0;
  background: #ffffff;
  height: 1920px;
  width: 1080px;
  overflow: hidden;
}

body *,
html * {
  font-family: var(--font-family-sans-serif);
}

:root {
  --crimson: #a51c30;
  --font-family-sans-serif: Arial, sans-serif;
}
